# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: sample-app
  template:
    metadata:
      labels:
        app: sample-app
    spec:
      runtimeClassName: confidential-linked-runner
      containers:
      - name: sample-app-container
        image: ${SAMPLE_APP_IMAGE}
        command: ["/sample-app"]
        args:
        - "--kek_uri"
        - "${KEKURI}"
        - "--gcs_blob_path"
        - "${GCSPATH}"
        - "--project_number"
        - "${PROJECT_NUMBER}"
        - "--wip_name"
        - "${WIP_NAME}"
        - "--wip_provider"
        - "${WIP_PROVIDER}"
        imagePullPolicy: Always
        volumeMounts:
            - name: shared-data
              mountPath: /data
      volumes:
          - name: shared-data
            emptyDir:
                medium: Memory